/* Main stylesheet for Elita - HTML/CSS template */

body {background: #a6b3c3;}

/* === Overwriting the Blueprint selected elements === */
.box {float: left; padding-bottom: 0; background: #fff; }
.box.noBg {background: none;}

h1, h3, h4, h5, h6 {color: #4a4a4a;}
h2 {color: #2a2a2a;}
h2 img, h3 img {margin-right: 15px; vertical-align: text-top;}
h1.white {color: #fff;
  text-shadow: 0 1px 0 #333;
  -webkit-text-shadow:0 1px 0 #333;
  -moz-text-shadow: 0 1px 0 #333;
  -o-text-shadow: 0 1px 0 #333;
  }

a {text-decoration: none; position: relative;}

/* == Some Floating styles (text-align: left, right. Float: left, right) == */
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}

.fl {float: left;}
.fr {float: right;}


/* === Body BG === */
body img#bg { min-height: 100%; min-width: 1024px; width: 100%; height: auto; position: fixed; top: 0; left: 0;}
@media screen and (max-width: 1024px) {
  body > img#bg {
    left: 50%;
    margin-left: -512px; } }

.container {position: relative;}


/* === Navigation === */
.navi {float: right;}
.navi ul.menu {float: right; margin: 40px 0 0; padding: 0; position: relative;}
.navi ul.menu li {list-style: none; display: inline; float: left;}
.navi ul.menu li a {padding: 5px 1.5em; color: rgba(255,255,255,.5); text-shadow: none; font-weight: bold; font-size: 16px; text-decoration: none;}
.navi ul.menu li a:hover {color: #fff;
  text-shadow: 0 1px 0 #333;
  -webkit-text-shadow:0 1px 0 #333;
  -moz-text-shadow: 0 1px 0 #333;
  -o-text-shadow: 0 1px 0 #333;
  }
.navi ul.menu li a.last {padding-right: 0;}
.navi ul.menu li a:hover.under {background: rgba(0,0,0,.5);}
.navi ul.menu li a.hover {background: rgba(0,0,0,.5); color: #fff;
  text-shadow: 0 1px 0 #333;
  -webkit-text-shadow:0 1px 0 #333;
  -moz-text-shadow: 0 1px 0 #333;
  -o-text-shadow: 0 1px 0 #333;}
.navi ul.menu li a:hover.under, .navi ul.menu li a.hover {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
  /* -- Submenu -- */
  .navi ul.menu li ul.sub {display: none; padding: 0;}
  .navi ul.menu li:hover ul.sub, ul.sub:hover {display: block; position: absolute; margin-top: 2px; z-index: 100;}
  .navi ul.menu li ul.sub li {width: 137px; float: left; clear: both; background: rgba(0,0,0,.5); display: block;}
  .navi ul.menu li ul.sub li:hover {background: rgba(0,0,0,.8);}
  .navi ul.menu li ul.sub li a {float: left; clear: both; margin: 0; padding: 10px; font-size: 14px; color: rgba(255,255,255,.5);}
  .navi ul.menu li ul.sub li a:hover {color: #fff;}
  .navi ul.menu li ul.sub li.last {
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  }



/* === Slider === */
.slider {height: 288px; overflow: hidden;}
.slider img {width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.bigImgCaption {width: 908px; float: left; padding: 1.5em; padding-bottom: 0; background: #fff; font-size: 14px; position: relative;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}
/* - in image arrow - */
.arrowUp {width: 15px; height: 8px; position: relative; top: 281px; left: 20px; background: url(../images/arrowUp.png) no-repeat center; display: block; content: ''; z-index: 9;}


/* - slider bevel - */
.slider .bevel {width: 100%; height: 300px; display: block; position: absolute; z-index: 99;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset;
        -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset;
        -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.6) inset;

        behavior: url(PIE.php);
        }


/* === Small Square (3 in the middle with white background) === */
.smallSquare {background: #fff; overflow: hidden; position: relative;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}
.smallSquare img {width: 100%; height: 100px; float: left;}
.smallSquare.last {margin-right: 0;}
.smallSquare .arrowUp {top: 93px;}


/* === LOng Info === */
.longInfo {margin: 1.5em 0; padding: 1em 0; background: #fff;}
.longInfo {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}
.longInfo span.longInfoHeading {width: 75%; float: left; text-align: center; margin-top: 8px; font-size: 32px; color: #585858;}


/* === Main content === */
.maincontent {background: #fff; padding: 0px;
   box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* === Blog === */
.blogPost {float: left; clear: both;}
.blogPost h3 {margin-bottom: 0.5em;}
.blogPost h3 a {color: #585858;}
.blogPost h3 a:hover {color: #4a4a4a; text-decoration: underline;}
.blogPost .blogPhoto {float: left; clear: both; overflow: hidden;}
.blogPost .blogPhoto img {width: 100%;}
.blogPost .blogText {float: left; clear: both; padding: 10px;}
.blogPost .blogBottom {width: 100%; float: left; clear: both; border-top: 1px solid #f5f5f5; padding: 10px 0; }
.blogPost .blogBottom a {font-size: 12px; color: #aaa;}
.blogPost .blogBottom a:hover {color: #3d6496; text-shadow: none;}
.blogPost .blogBottom span.aboutPost {float: right; margin: 0 10px 0 20px;}
.blogPost .blogBottom span.aboutPost img {margin: -2px 10px 0 0;}
  /* Blog comments */
  .blogComments {width: 100%; float: left; clear: both;}
  .blogComments .blogComment {width: 100%; float: left; clear: both; margin-top: 10px; padding: 10px 0; border-bottom: 1px solid #f5f5f5; }
  .blogComments .blogCommentForm {width: 100%; float: left; clear: both; padding: 10px 0; border-bottom: 1px solid #f5f5f5;}
  .blogComments .blogComment .blogCommentTop {width: 100%; float: left; clear: both;}
  .blogComments .blogComment .blogCommentTop span.userPhoto {width: 45px; height: 45px; float: left; margin: 0 20px 0 0;}
  .blogComments .blogComment .blogCommentTop span.userName {min-width: 100px; float: left; font-weight: bold;}
  .blogComments .blogComment .blogCommentTop span.userDate {float: left; clear: right; margin-left: 12px; color: #aaa; font-size: 11px; font-style: italic; line-height: 20px;}
  .blogComments .blogComment .blogCommentTop span.userWWW {min-width: 80%; float: left;;}
  .blogComments .blogComment .blogCommentTop span.userWWW a {color: #aaa; font-size: 13px; font-style: italic;}
  .blogComments .blogComment .blogCommentTop span.userWWW a:hover {color: #3d6496; text-shadow: none;}
  .blogComments .blogComment .blogCommentContent {width: 475px; float: right; font-size: 13px; margin-top: 5px;}
  .blogComments .reply {width: 425px; float: right; font-size: 13px; border-left: 1px dotted #f5f5f5;}
  .blogComments .reply > .blogComment {width: 415px; margin-top: 0px; padding-left: 10px; border-top: 1px solid #fff; border-bottom: 1px dotted #f5f5f5; background: #fafafa; }
  .blogComments .reply > .blogComment p {width: 350px;}
  .blogComments .reply .blogCommentContent {width: 360px;}

  /* -- Blog post social icons -- */
  .socialHover {display: none; float: left;}
  .socialHover a img {float: left; margin-right: 1em; display: block;}
  .blogPost:hover .socialHover, .smallSquare:hover .socialHover {display: block;}


/* === Side bar menu === */
ul.sideBar {width: 100%; float: left; clear: both;  margin: 0; padding: 0;}
ul.sideBar  li {width: 100%; float: left; list-style: none; display: block;}
ul.sideBar  li  a {display: block; padding: 5px; font-size: 14px; border-bottom: 1px solid #f5f5f5; border-right: 4px solid #fff; }
ul.sideBar  li  a.current, ul.sideBar li a:hover {color: #3D6496; background: #f5f5f5; text-shadow: 0 1px 0 #fff; border-bottom: 1px solid #eee; border-right: 4px solid #eee;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow:0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=FFFFFF);
}


/* === Tabs === */
.tabsHolder {width: 100%; float: left; clear: both;}
.tabsHolder > .tabName {width: 100%; float: left; clear: both; border-bottom: 1px solid #f5f5f5;}
.tabsHolder > ul.tabName {float: left; clear: both;  margin: 0; padding: 0;}
.tabsHolder > ul.tabName >li {float: left; display: inline; list-style: none;}
.tabsHolder > ul.tabName > li > a {float: left; margin: 0 2px;padding: 5px 10px; border: 1px solid #f5f5f5; border-bottom: none; font-size: 13px;}
.tabsHolder > ul.tabName > li > a.current, .tabsHolder > ul.tabName > li > a:hover {color: #3D6496; background: #f5f5f5;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow:0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=FFFFFF);
}
.tabsHolder > .tabContent {width: 100%; float: left; clear: both;}

.tabContent .tabItem {width: 100%; height: 50px; float: left; clear: both; padding: 5px 0; border-bottom: 1px solid #f5f5f5;}
.tabContent .tabItem:hover {background: #f5f5f5;}
.tabContent .tabItem .tabItemPhoto {width: 50px; height: 50px; float: left; margin: 10px; overflow: hidden;}
.tabContent .tabItem .tabItemPhoto img {width: 100px; float: left; }
.tabContent .tabItem .tabItemDesc {width: 200px; float: left;}
.tabContent .tabItem .tabItemDesc span.heading {width: 200px; float: left; font-size: 14px; font-weight: bold; text-align: left; margin: 6px 0 0 ;}
.tabContent .tabItem .tabItemDesc a:hover {color: #3D6496;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow:0 1px 0 #fff;
  -moz-text-shadow: 0 1px 0 #fff;
  -o-text-shadow: 0 1px 0 #fff;
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=FFFFFF);
}
.tabContent .tabItem .tabItemDesc span.tabItemAbout {font-size: 9px;}
.tabContent .tabItem .tabItemDesc span.tabItemAbout a {color: #aaa;}
.tabContent .tabItem .tabItemDesc span.tabItemAbout a:hover {color: #4A4A4A; text-shadow: none;}



/* === About Us === */
.aboutUs {float: left; clear: both;}
.aboutText {width: 100%; float: left; clear: both; margin-bottom: 15px;}
.aboutText p {margin-top: 0;}
.aboutUs img.left {width: 45%;}
.aboutUs img.right {width: 45%;}
.aboutUs img.full {width: 100%; float: left; clear: both; }
.aboutUs span {width: 100%; float: left; clear: both; margin: 15px 0 5px; font-size: 18px; font-weight: bold;}
.aboutUs span.tl {text-align: left;}
.aboutUs span.tr {text-align: right;}
.aboutUs .aboutBottom {width: 100%; float: left; clear: both; margin-bottom: 10px; padding-top: 10px; border-top: 1px solid #f5f5f5;}


/* === Photo Gallery === */
.galleryHolder {width: 928px; float: left; clear: both; margin: 10px; border: 1px solid #f5f5f5; border-right: none; border-bottom: none;}
.galleryHolder .photo {float: left; position: relative; overflow: hidden;}
.galleryHolder a {float: left;}
.galleryHolder a img {width: 221px; height: 200px; float: left; padding: 5px; border: 1px solid #f5f5f5; border-top: none; border-left: none;}
.galleryHolder a img.Big {width: 453px;  height: 411px; }
.galleryHolder .photo.fr {float: right;}
.galleryHolder .photo > span.photoTitle {width: 100%; display: none;position: absolute; bottom: 0; left: 0; padding: 10px; color: rgba(255,255,255,.8); background: rgba(0,0,0,.5);}
.galleryHolder .photo:hover > span.photoTitle {display: block;}

/* === Partners === */
.partners a {float: left;}
.partners img.partner {width: 55px; float: left; margin-right: 1.5em;}

/* === Latest Pictures === */
.latestPicturesHolder {float: left; clear: both; margin: 0; border-top: 1px solid #f5f5f5; border-left: 1px solid #f5f5f5;}
.latestPicturesHolder a {float: left;}
.latestPicturesHolder img {width: 80px; height: 60px; float: left; padding: 5px; border-right: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5;}


/* === Bottom Twitter === */
.span-24.twitter .box {background: none;}
span.avatarHolder {width: 75px; float: left;}
span.twitterAvatar {width: 48px; height: 48px; float: left; margin: 13px; overflow: hidden; /* css3 */
   box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
   -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
   -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.5);
   behavior: url(PIE.php);
}
span.twitterAuthor {width: 75px; float: left; margin-top: -13px; text-align: center; color: #fff; font-weight: bold; font-size: 11px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -webkit-text-shadow:0 1px 0 rgba(0,0,0,.5);
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,.5);
  -o-text-shadow: 0 1px 0 rgba(0,0,0,.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=000000);
  }
span.twitterBubble {width: 185px; float: left; margin-top: 13px; padding: 5px; font-size: 12px; color: #fff; background: rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

   box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;
   -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;
   -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;

  behavior: url(PIE.php);
}
span.twitterBubble a {color: #3d6496; text-shadow: none;}
span.twitterBubble a:hover {color: #fff;}
.olderTweet {opacity: .7; filter: alpha(opacity = 70);}
.oldestTweet {opacity: .4;  filter: alpha(opacity = 40);}
.oldestTweet:hover, .olderTweet:hover {opacity: 1; filter: alpha(opacity = 100);}
.oldestTweet:hover span.twitterAuthor, .olderTweet:hover span.twitterAuthor {color: rgba(0,0,0,.8);
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  -webkit-text-shadow: 0 1px 0 rgba(255,255,255,.5);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,.5);
  -o-text-shadow: 0 1px 0 rgba(255,255,255,.5);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=ffffff);
}


/* === Footer === */
.footer {width: 100%; float: left; color: #fff; background: rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;

  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3) inset;
  }
.footer span.copyrights {float: left; color: #fff; font-size: 11px; margin: 12px 10px 10px;}
.footer a {color: #3d6496; text-decoration: underline; text-shadow: none;}
.footer a:hover {color: #fff; text-decoration: none;}
.footer span.socialFooter {float: right; margin: 10px;}
.footer span.socialFooter a img {position: relative; float: left; border: none; margin-right: 10px;}


/* === Bread crumps === */
.breadcrumbs {width: 100%; float: left; clear: both;}
.breadcrumbs ul.crumbs {width: 100%; float: left; margin: 0; padding: 0; list-style: none; border: 1px solid #f5f5f5;}
.breadcrumbs ul.crumbs li {display: inline; margin: 0; padding: 0; float: left;}
.breadcrumbs ul.crumbs li a {float: left; margin: 0; padding: 7px 25px 7px 12px; background: url(../images/breadCrumbsArrow.png) 100% 50% no-repeat #fff;}
.breadcrumbs ul.crumbs li a:hover {color: #585858;}
.breadcrumbs ul.crumbs li a.currentCrumb {background: none;}


/* === Dialog boxes === */
.warning {width: 100%; margin: 20px 0px 20px 0px; background: url(../images/dialog/warning.png) no-repeat 10% 50% #FDEFBD; border: #D4B64B 1px solid; color: #675100; padding:20px 0px 20px 0px; text-align:center;  float:left; text-shadow: 1px 1px 0px #FDFFCD;}
.info {width: 100%;  margin: 20px 0px 20px 0px; background: url(../images/dialog/info.png) no-repeat 10% 50% #D8E7FA; border: #9DBFEA 1px solid; color: #00357B; padding:20px 0px 20px 0px; text-align: center;  float:left; text-shadow: 1px 1px 0px #E8F7FA;}
.error {width: 100%; margin: 20px 0px 20px 0px; background: url(../images/dialog/error.png) no-repeat 10% 50% #FACFCF; border: #DC1C1C 1px solid; color: #820101; padding:20px 0px 20px 0px; text-align:center;  float:left; text-shadow: 1px 1px 0px #FAeFeF;}
.success {width: 100%; margin: 20px 0px 20px 0px; background: url(../images/dialog/success.png) no-repeat 10% 50% #D1E8D2; border: #393 1px solid; color: #00632E; padding:20px 0px 20px 0px; text-align:center;  float:left; text-shadow: 1px 1px 0px #e1f8e2;}
.warning a, .info a, .error a, success a{text-decoration:none;}
.warning a:hover, .info a:hover, .error a:hover, success a:hover {text-decoration:underline;}
.warning, .info, .error, .success {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

   box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;
   -webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;
   -moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;

  behavior: url(PIE.php);
}

/* === Tooltips === */
.tooltipShow {position: absolute; bottom: 3px; font-size: 11px;  color: #fff;}
.tooltipShow {padding: 2px 5px; background: rgba(0,0,0,.7);
   border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;
   -webkit-box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;
   -moz-box-shadow: 0 1px 1px 0 rgba(255,255,255,.3) inset;
}
.tooltipShow a {text-decoration: none;}


/* === Google map === */
.googleMap {float: left; padding: 5px; border: 1px solid #f5f5f5;}
.googleMap:hover {background: #f5f5f5;}

/* === Contact social media icons === */
.social {float: right;}
.social a img {float: left; margin-right: 20px; }


/* === Inputs === */
input, label, textarea {float: left; clear: both; padding: 5px;}
label {color: #aaa;}
input[type=text], textarea {padding: 10px; border: none; background: #f5f5f5; color: #3D6496;
  text-shadow: 0 1px 0 #fff;
  -webkit-text-shadow:0 1px 0 rgba(255,255,255,1);
  -moz-text-shadow: 0 1px 0 rgba(255,255,255,1);
  -o-text-shadow: 0 1px 0 rgba(255,255,255,1);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=FFFFFF);

}
input[type=text] {width: 200px;}
input[type=text]:focus, textarea:focus {border: 1px solid #eee;}
textarea {font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}

/* -- Search button style */
input.search {clear: none;}
input[type=text].search {width: 175px; height: 32px;}
input[type=submit].search {margin: 6px 0 0 -1px;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius:  0 2px 2px 0;
  border-radius:  0 2px 2px 0;
  }
input[type=submit]:hover.search {margin: 6px 0 0 -1px;}

input[type=submit] {float: left; margin: 10px; padding: 5px 10px; border: 1px solid #3d6496; color: #fff; font-weight: bold; font-size: 16px; cursor: pointer;}
input[type=submit] {/* CSS3 */
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  background: #5f82ab;
  background: -moz-linear-gradient(top, #5f82ab 0%, #3d6496 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f82ab), color-stop(100%,#3d6496)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5f82ab 0%,#3d6496 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5f82ab 0%,#3d6496 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #5f82ab 0%,#3d6496 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f82ab', endColorstr='#3d6496',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #5f82ab 0%,#3d6496 100%); /* W3C */
  /* text shadow */
  -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=000);
}
input[type=submit]:hover {margin-top: 9px; margin-bottom: 11px;}
input[type=submit]:active {margin-top: 11px;  margin-bottom: 9px;}

.clear.height20 {height: 20px; margin: 5px 0;}
.clear.height10 {height: 10px; margin: 5px 0;}


/* === Button Styles === */
a.smallBlueBtn {float: left; margin: 10px; padding: 2px 7px; border: 1px solid #3d6496; color: #fff;  font-weight: bold; font-size: 16px;}
a.bigBlueBtn {float: left; margin: 10px; padding: 5px 10px; border: 1px solid #3d6496; color: #fff;  font-weight: bold; font-size: 22px;}
a.smallBlueBtn, a.smallBlueBtn:hover, a.bigBlueBtn, a.bigBlueBtn:hover {
  /* CSS3 */
  background: #5f82ab; /*non-CSS3 browsers will use this*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5f82ab) to(#3d6496)); /*old webkit*/
  background: -webkit-linear-gradient(#5f82ab, #3d6496); /*new webkit*/
  background: -moz-linear-gradient(#5f82ab, #3d6496); /*gecko*/
  background: -ms-linear-gradient(#5f82ab, #3d6496); /*IE10 preview*/
  background: -o-linear-gradient(#5f82ab, #3d6496); /*opera 11.10+*/
  background: linear-gradient(#5f82ab, #3d6496); /*future CSS3 browsers*/
  -pie-background: linear-gradient(#5f82ab, #3d6496); /*PIE*/



  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -webkit-text-shadow:  0 1px 0 rgba(0,0,0,.2);
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -o-text-shadow: 0 1px 0 rgba(0,0,0,.2);

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
}
a.smallBlueBtn:hover, a.bigBlueBtn:hover {margin-top: 9px; margin-bottom: 11px;}
a.smallBlueBtn:active, a.bigBlueBtn:active {margin-top: 11px;  margin-bottom: 9px;}
/* Green buttons */
a.smallGreenBtn {float: left; margin: 10px; padding: 2px 7px; border: 1px solid #6c8984; color: #fff;  font-weight: bold; font-size: 16px;}
a.bigGreenBtn {float: left; margin: 10px; padding: 5px 10px; border: 1px solid #6c8984; color: #fff;  font-weight: bold; font-size: 22px;}
a.smallGreenBtn, a.smallGreenBtn:hover, a.bigGreenBtn, a.bigGreenBtn:hover {
  /* CSS3 */
  background: #809b8c; /*non-CSS3 browsers will use this*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#809b8c) to(#6c8984)); /*old webkit*/
  background: -webkit-linear-gradient(#809b8c, #6c8984); /*new webkit*/
  background: -moz-linear-gradient(#809b8c, #6c8984); /*gecko*/
  background: -ms-linear-gradient(#809b8c, #6c8984); /*IE10 preview*/
  background: -o-linear-gradient(#809b8c, #6c8984); /*opera 11.10+*/
  background: linear-gradient(#809b8c, #6c8984); /*future CSS3 browsers*/
  -pie-background: linear-gradient(#809b8c, #6c8984); /*PIE*/



  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -webkit-text-shadow:  0 1px 0 rgba(0,0,0,.2);
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -o-text-shadow: 0 1px 0 rgba(0,0,0,.2);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=333333);

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;

  behavior: url(PIE.php);
}
a.smallGreenBtn:hover, a.bigGreenBtn:hover {margin-top: 9px; margin-bottom: 11px;}
a.smallGreenBtn:active, a.bigGreenBtn:active {margin-top: 11px;  margin-bottom: 9px;}

/* Purple buttons */
a.smallPurpleBtn {float: left; margin: 10px; padding: 2px 7px; border: 1px solid #9d9eb2; color: #fff;  font-weight: bold; font-size: 16px;}
a.bigPurpleBtn {float: left; margin: 10px; padding: 5px 10px; border: 1px solid #9d9eb2; color: #fff;  font-weight: bold; font-size: 22px;}
a.smallPurpleBtn, a.smallPurpleBtn:hover, a.bigPurpleBtn, a.bigPurpleBtn:hover {
  /* CSS3 */
  background: #d3d4d6; /*non-CSS3 browsers will use this*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d3d4d6) to(#9d9eb2)); /*old webkit*/
  background: -webkit-linear-gradient(#d3d4d6, #9d9eb2); /*new webkit*/
  background: -moz-linear-gradient(#d3d4d6, #9d9eb2); /*gecko*/
  background: -ms-linear-gradient(#d3d4d6, #9d9eb2); /*IE10 preview*/
  background: -o-linear-gradient(#d3d4d6, #9d9eb2); /*opera 11.10+*/
  background: linear-gradient(#d3d4d6, #9d9eb2); /*future CSS3 browsers*/
  -pie-background: linear-gradient(#d3d4d6, #9d9eb2); /*PIE*/



  text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -webkit-text-shadow:  0 1px 0 rgba(0,0,0,.2);
  -moz-text-shadow: 0 1px 0 rgba(0,0,0,.2);
  -o-text-shadow: 0 1px 0 rgba(0,0,0,.2);
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135,strength=2,color=333333);

  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;
  -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.4) inset;

  behavior: url(PIE.php);
}
a.smallPurpleBtn:hover, a.bigPurpleBtn:hover {margin-top: 9px; margin-bottom: 11px;}
a.smallPurpleBtn:active, a.bigPurpleBtn:active {margin-top: 11px;  margin-bottom: 9px;}


/* === Carousel === */
.carousel {width: 952px; float: left;}
/* -- carousel elements -- */
ul#items {width: 100%; height: 210px; margin: 1em 0; padding: 0; overflow: hidden;}
ul#items li {height: 208px; float: left; margin: 0; margin-left: 10px; list-style: none; overflow: hidden; background: #fff; color: #585858;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
 		}
ul#items li.first {margin-left: 0;}
ul#items li:hover {color: #333;}
ul#items li .image {width: 310px; height: 100px; float: left; margin: 0; overflow: hidden; border: none;}
ul#items li p {width: 274px;}
ul#items .info {color: #999; text-shadow: #f1f1f1 0 1px 0;}
ul#items .arrowUp {top: 93px;}
/* -- carousel bottom pagination -- */
  ol#pagination {position: relative; text-align: center;}
  ol#pagination li {width: 16px; height: 16px; margin: 0 2px; display: inline-block; background: url(../images/bg_buttons.png) no-repeat 0 0; text-align: left; text-indent: -8000px; list-style: none; cursor: pointer;}
  ol#pagination li:hover{background:url(../images/bg_buttons.png) no-repeat 0 -16px;}
  ol#pagination li.current{color:#f00;font-weight:bold;background:url(../images/bg_buttons.png) no-repeat 0 -32px;}
  ol#pagination li.prev, ol#pagination li.next {position: absolute; top: -131px;}
  ol#pagination li.prev {left: -30px; background: url(../images/bg_buttons.png) no-repeat 0 -64px;}
  ol#pagination li.next {right: -45px; background: url(../images/bg_buttons.png) no-repeat 0 -48px;}


/* === Themepicker === */
.themeHolder {width: 135px; position: fixed; top: -190px; left: 0; padding: 10px; background: rgba(0,0,0,.5); color: #fff; z-index: 99999;
   border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

  /* CSS3 transition */
  -webkit-transition: top 0.5s ease-in-out;
	-moz-transition: top 0.5s ease-in-out;
	-o-transition: top 0.5s ease-in-out;
	-ms-transition: top 0.5s ease-in-out;
	transition: top 0.5s ease-in-out;
}
.themeHolder:hover {top: 0;}
.themeHolder h6 {color: #fff; text-shadow: 0 1px 0 #222;}
.themeHolder .colorHolder {width: 25px; height: 25px; float: left; padding: 5px; margin: 5px; display: block; cursor: pointer; background: #fff;
   border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;

  box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);
}
.themeHolder .color {width: 100%; height: 100%; float: left; overflow: hidden;}
.themeHolder .color img {float: left; width: 200%;}
.themeHolder .color.lightBlue {background: #a6b3c3;}
.themeHolder .color.green {background: #8ba393;}
.themeHolder .color.darkBlue {background: #587a9f;}
.themeHolder .color.darkerBlue {background: #283b7a;}
.themeHolder .color.pink {background: #beb3ae;}
.themeHolder .color.yellow {background: #eadbb8;}